@charset "UTF-8";
/* Los básicos */
:root {
  --negro: #393939;
  --fondo-blanco: white;
  --fondo-granate: #751410;
  --tipo-principal: "Roboto", sans-serif;
  --tipo-secundaria: Verdana;
}

@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
    --fondo-blanco: black;
  }
}
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
            animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
}

table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
}

@-webkit-keyframes slideUp {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes slideUp {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}
@-webkit-keyframes slideDown {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}
@keyframes slideDown {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes disableScroll {
  0% {
    overflow: hidden;
  }
  99% {
    overflow: hidden;
  }
  100% {
    overflow: initial;
  }
}
@keyframes disableScroll {
  0% {
    overflow: hidden;
  }
  99% {
    overflow: hidden;
  }
  100% {
    overflow: initial;
  }
}
/* Común */
.header {
  padding: 1rem 0;
  background-color: var(--fondo-blanco);
}
.header__wrapper {
  width: 90%;
  max-width: 1600px;
  margin: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__hamburguesa {
  width: 2rem;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .header__hamburguesa {
    width: 1.6rem;
  }
}
@media screen and (max-width: 534px) {
  .header__hamburguesa {
    width: 1.2rem;
  }
}
.header__menudesplegado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  background-color: var(--fondo-blanco);
  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem 0;
  z-index: 3;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media screen and (max-width: 700px) {
  .header__menudesplegado {
    width: 50%;
  }
}
.header__menudesplegado.activo {
  opacity: 1;
  pointer-events: auto;
}
.header__nav {
  margin: 0 0 0 4rem;
}
.header__datos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 2rem 0 0 0;
}
.header__adato {
  font-size: 1.25em;
  font-weight: 300;
  margin: 0 0 1.2rem 0;
}
@media screen and (max-width: 400px) {
  .header__adato {
    font-size: 1em;
    margin: 0 0 1rem 0;
  }
}
.header__adato.rebajas {
  color: red;
}
.header__close {
  width: 1.4rem;
  min-width: 1rem;
  margin: 0 4rem 0 0;
  cursor: pointer;
}
.header__MUJI {
  width: 14rem;
  margin: 0 0 0 36%;
}
@media screen and (max-width: 800px) {
  .header__MUJI {
    width: 12rem;
  }
}
@media screen and (max-width: 534px) {
  .header__MUJI {
    width: 8rem;
    margin: 0 0 0 40%;
  }
}
.header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__svg {
  width: 2rem;
  margin: 0 0 0 1.6rem;
}
@media screen and (max-width: 800px) {
  .header__svg {
    width: 1.6rem;
  }
}
@media screen and (max-width: 534px) {
  .header__svg {
    width: 1.2rem;
    margin: 0 0 0 1.2rem;
  }
}

.footer {
  background-color: var(--fondo-granate);
  width: 100%;
  padding: 2rem 0;
}
.footer__wrapper {
  width: 90%;
  margin: auto;
}
.footer__caja {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__nav {
  width: 80%;
}
.footer__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 400px) {
  .footer__li {
    font-size: 0.9em;
  }
}
.footer__a {
  margin: 0 1rem 1rem;
  color: white;
}
.footer__idioma {
  width: 10%;
  text-align: right;
  color: white;
}
@media screen and (max-width: 400px) {
  .footer__idioma {
    font-size: 0.9em;
  }
}
.footer__rrss {
  margin: 1rem 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__ars {
  width: 1.6rem;
  margin: 0 1rem;
}
.footer__svg {
  fill: white;
}

/* Cada página  */
.index {
  -webkit-animation: disableScroll 4s ease 1 both;
          animation: disableScroll 4s ease 1 both;
}
.index .fondo {
  width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 5;
  -webkit-animation: slideUp 1s ease 1 3s both;
          animation: slideUp 1s ease 1 3s both;
}
.index .fondo__logo {
  max-width: 40rem;
  position: absolute;
  top: calc( 50% - 50px );
  left: calc( 50% - 20rem );
  -webkit-animation: fadeIn 3s ease 1 1s both;
          animation: fadeIn 3s ease 1 1s both;
}
@media screen and (max-width: 700px) {
  .index .fondo__logo {
    max-width: 20rem;
    top: calc( 50% - 25px );
    left: calc( 50% - 10rem );
  }
}
@media screen and (max-width: 400px) {
  .index .fondo__logo {
    max-width: 10rem;
    top: calc( 50% - 15px );
    left: calc( 50% - 5rem );
  }
}
.index .granate {
  width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--fondo-granate);
  z-index: 4;
  -webkit-animation: slideDown 1s ease 1 4s both;
          animation: slideDown 1s ease 1 4s both;
}
.index .anuncio {
  background-color: black;
  position: relative;
}
.index .anuncio__izquierda {
  position: absolute;
  top: 50%;
  left: 10%;
}
@media screen and (max-width: 672px) {
  .index .anuncio__izquierda {
    background-color: var(--fondo-granate);
    padding: 0.5rem;
    border-radius: 50%;
    left: 5%;
    top: 80%;
  }
}
.index .anuncio__derecha {
  position: absolute;
  top: 50%;
  right: 10%;
}
@media screen and (max-width: 672px) {
  .index .anuncio__derecha {
    background-color: var(--fondo-granate);
    padding: 0.5rem;
    border-radius: 50%;
    right: 5%;
    top: 80%;
  }
}
.index .anuncio__svg {
  width: 2rem;
  color: white;
  cursor: pointer;
  z-index: 2;
}
@media screen and (max-width: 672px) {
  .index .anuncio__svg {
    width: 1rem;
  }
}
.index .anuncio__video {
  max-height: 79vh;
  width: 100%;
  background-color: var(--fondo-granate);
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.index .anuncio__video.static {
  position: static;
}
.index .anuncio__video.activo {
  opacity: 1;
}
@media screen and (max-width: 672px) {
  .index .anuncio__video {
    min-height: 50vh;
  }
}
.index .anuncio__p {
  text-align: center;
  color: white;
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 100%;
}
@media screen and (max-width: 956px) {
  .index .anuncio__p {
    bottom: 12%;
  }
}
@media screen and (max-width: 850px) {
  .index .anuncio__p {
    display: none;
  }
}
@media screen and (max-width: 672px) {
  .index .anuncio__p {
    display: none;
  }
}
.index .anuncio__span {
  font-style: italic;
  font-weight: 600;
}
.index .anuncio__textos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  bottom: 2%;
  left: 20%;
  width: 60%;
}
@media screen and (max-width: 1274px) {
  .index .anuncio__textos {
    width: 80%;
    left: 10%;
  }
}
@media screen and (max-width: 956px) {
  .index .anuncio__textos {
    width: 90%;
    left: 5%;
  }
}
@media screen and (max-width: 672px) {
  .index .anuncio__textos {
    background-color: white;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 1rem 0;
  }
}
.index .anuncio__texto {
  width: 80%;
  max-width: 700px;
  font-size: 0.9em;
  color: white;
}
@media screen and (max-width: 672px) {
  .index .anuncio__texto {
    display: none;
  }
}
.index .anuncio__fanzine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: underline;
  text-transform: uppercase;
  margin: 0 0 0 2rem;
  color: white;
}
@media screen and (max-width: 850px) {
  .index .anuncio__fanzine {
    margin: 0;
  }
}
@media screen and (max-width: 672px) {
  .index .anuncio__fanzine {
    width: 100%;
    color: black;
    margin: 0 0 0 4rem;
  }
}
.index .anuncio__flecha {
  width: 1rem;
  color: white;
}
@media screen and (max-width: 672px) {
  .index .anuncio__flecha {
    color: black;
  }
}
.index .muji__wrapper {
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media screen and (max-width: 1420px) {
  .index .muji__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 400px) {
  .index .muji__wrapper {
    gap: 0;
  }
}
.index .muji__section {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.index .muji__section.vida {
  background-color: var(--fondo-granate);
  color: white;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}
.index .muji__section.consejos {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.index .muji__section.eventos {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}
.index .muji__paragrande {
  width: 90%;
  max-width: 1200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2rem 1fr 2rem 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
@media screen and (max-width: 1728px) {
  .index .muji__paragrande {
    width: 100%;
    max-width: none;
  }
}
@media screen and (max-width: 960px) {
  .index .muji__paragrande {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 400px) {
  .index .muji__paragrande {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.index .muji__paragrande.consejos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media screen and (max-width: 1420px) {
  .index .muji__paragrande.consejos {
    display: -ms-grid;
    display: grid;
  }
}
@media screen and (max-width: 960px) {
  .index .muji__paragrande.consejos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.index .muji__titulo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  border-bottom: solid 2px black;
  font-size: 2em;
  font-weight: 700;
  text-align: right;
  width: 90%;
  margin: 0 0 0 3rem;
}
@media screen and (max-width: 960px) {
  .index .muji__titulo {
    margin: 0 2rem 0 3rem;
  }
}
@media screen and (max-width: 400px) {
  .index .muji__titulo {
    margin: 0 auto;
    font-size: 1.6em;
  }
}
.index .muji__titulo.vida {
  border-bottom: solid 2px white;
}
.index .muji__titulo.consejos {
  width: 100%;
  text-align: left;
}
@media screen and (max-width: 1420px) {
  .index .muji__titulo.consejos {
    width: 90%;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}
@media screen and (max-width: 960px) {
  .index .muji__titulo.consejos {
    margin: 0 0 0 2rem;
  }
}
@media screen and (max-width: 400px) {
  .index .muji__titulo.consejos {
    margin: 0 auto;
  }
}
.index .muji__img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  max-height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
  width: 90%;
  margin: 0 0 0 3rem;
}
@media screen and (max-width: 960px) {
  .index .muji__img {
    margin: 0 2rem 0 3rem;
  }
}
@media screen and (max-width: 400px) {
  .index .muji__img {
    margin: 0 auto;
  }
}
.index .muji__img.consejos {
  width: 100%;
  max-height: 48vh;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1420px) {
  .index .muji__img.consejos {
    width: 90%;
    max-height: 30vh;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}
@media screen and (max-width: 960px) {
  .index .muji__img.consejos {
    margin: 0 0 0 2rem;
  }
}
@media screen and (max-width: 400px) {
  .index .muji__img.consejos {
    margin: 0 auto;
  }
}
.index .muji__gridtexto {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  margin: 0 2rem 0 0;
}
@media screen and (max-width: 960px) {
  .index .muji__gridtexto {
    margin: 0 auto;
    width: 80%;
  }
}
.index .muji__gridtexto.consejos {
  margin: 0 0 0 3rem;
}
@media screen and (max-width: 1420px) {
  .index .muji__gridtexto.consejos {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    margin: 0 0 0 2rem;
  }
}
@media screen and (max-width: 960px) {
  .index .muji__gridtexto.consejos {
    margin: 0 auto;
    width: 80%;
  }
}
.index .muji__p {
  line-height: 2rem;
  margin: 0 0 1rem 0;
  font-size: 1.2em;
}
.index .muji__span {
  font-weight: 600;
  font-style: italic;
}
.index .muji__boton {
  text-align: right;
  margin: 2rem 0 0;
  text-transform: uppercase;
  font-size: 0.8em;
  text-decoration: underline;
}
.index .muji__boton.consejos {
  width: 100%;
  padding: 0 2rem 0 0;
}
@media screen and (max-width: 1420px) {
  .index .muji__boton.consejos {
    padding: 0;
  }
}

.fanzine .fanzine__h3 {
  width: 100%;
  background-color: var(--fondo-granate);
  text-align: center;
  color: white;
  font-size: 1.6em;
  text-transform: uppercase;
  padding: 1rem 0;
}
@media screen and (max-width: 800px) {
  .fanzine .fanzine__h3 {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 534px) {
  .fanzine .fanzine__h3 {
    font-size: 1em;
  }
}
.fanzine .fanzine__caja {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 800px) {
  .fanzine .fanzine__caja {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.fanzine .fanzine__img {
  background-color: deeppink;
  width: 50%;
  min-height: calc( 100vh - 200px);
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 800px) {
  .fanzine .fanzine__img {
    width: 100%;
    min-height: calc( 100vh - 460px);
  }
}
.fanzine .fanzine__textos {
  max-width: 900px;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 800px) {
  .fanzine .fanzine__textos {
    width: 96%;
  }
}
.fanzine .fanzine__h2 {
  font-size: 2.4em;
  font-weight: 700;
  width: 100%;
}
@media screen and (max-width: 800px) {
  .fanzine .fanzine__h2 {
    font-size: 2.2em;
  }
}
@media screen and (max-width: 534px) {
  .fanzine .fanzine__h2 {
    font-size: 2em;
  }
}
.fanzine .fanzine__parrafos {
  margin: 2rem 0;
}
.fanzine .fanzine__p {
  margin: 0 0 1rem 0;
}
.fanzine .fanzine__datos {
  margin: 0 0 1rem 0;
  width: 100%;
}
.fanzine .fanzine__precio {
  margin: 0 0 2rem 0;
  font-size: 1.6em;
  width: 100%;
}
.fanzine .fanzine__boton {
  text-align: center;
  background-color: var(--fondo-granate);
  padding: 1rem 2rem;
  color: white;
  border-radius: 21rem;
}

.papeleria .papeleria__h3 {
  width: 100%;
  background-color: var(--fondo-granate);
  text-align: center;
  color: white;
  font-size: 1.6em;
  text-transform: uppercase;
  padding: 1rem 0;
}
@media screen and (max-width: 800px) {
  .papeleria .papeleria__h3 {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 534px) {
  .papeleria .papeleria__h3 {
    font-size: 1em;
  }
}
.papeleria .papeleria__filtros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.papeleria .papeleria__li {
  text-transform: uppercase;
  font-size: 0.9em;
  margin: 0 1rem;
  padding: 2rem 0;
  cursor: pointer;
  color: lightgray;
}
.papeleria .papeleria__li.activado {
  color: black;
}
.papeleria .papeleria__wrapper {
  width: 90%;
  max-width: 1600px;
  margin: auto;
}
.papeleria .papeleria__grid {
  margin: 0 0 4rem 0;
  display: none;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  gap: 2rem;
}
.papeleria .papeleria__grid.activado {
  display: -ms-grid;
  display: grid;
}
.papeleria .papeleria__section {
  display: block;
}
.papeleria .papeleria__section.oculto {
  display: none;
}
.papeleria .papeleria__textos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
}
.papeleria .papeleria__h2 {
  width: 76%;
}
.papeleria .papeleria__punto {
  width: 0.6rem;
  height: 0.6rem;
  background-color: black;
  border-radius: 50%;
  border: 1px black solid;
}
.papeleria .papeleria__punto.delgado {
  background-color: gray;
}
.papeleria .papeleria__punto.libreta {
  background-color: green;
}
.papeleria .papeleria__punto.goma {
  background-color: white;
}
.papeleria .papeleria__numero {
  margin: 0 0 0 0.6rem;
}
.papeleria .papeleria__precio {
  margin: 0 0 0 0.6rem;
}